.agreement { height:200px; overflow:auto; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif, "나눔고딕", "Nanum Gothic"; }
input[type=checkbox]+label{ font-weight:bold; }

.btnArea { margin-top:20px; }

.margin-left5 { margin-left:5px; }

/* Bootstrap Override */
a, h1, h2, h3, h4, input, label, textarea, table, body { font-family:"NanumGothic", "Nanum Gothic", "Helvetica Neue",Helvetica,Arial,sans-serif, "나눔고딕", "Nanum Gothic" !important; }
h1, h2, h3, h4 { padding-bottom:4px; }
h1 { padding-left:70px; line-height:60px !important; background:url(../img/h1.png) no-repeat left center; }
h2 { padding-left:58px; line-height:60px !important; background:url(../img/h2.png) no-repeat left center; }
h3 { padding-left:32px; line-height:30px !important; background:url(../img/h3.png) no-repeat left center; font-size:20px !important; }

h1 .navi_right { color:#A8A8A8; font-size:32px; }
h1 .text-red { color:#e63030; }

.brand { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif, "NanumGothic", "Nanum Gothic" !important; }
.brand .text-white { color:#FFF !important; }
.brand .text-red { color:#e63030 !important; }

/*"bariollight","Helvetica neue",helvetica,sans-serif*/


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	h1 { padding-left:58px; line-height:50px !important; background:url(../img/h2.png) no-repeat left center; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	h1 { padding-left:32px; line-height:60px !important; background:url(../img/h3.png) no-repeat left center; font-size:20px !important; line-height:30px !important; border-bottom:0 none;}
	h2 { padding-left:32px; line-height:60px !important; background:url(../img/h3.png) no-repeat left center; font-size:20px !important; line-height:30px !important;  border-bottom:0 none;}
}